<dt>Search Your Favourite Movie</dt>
<dd class="searchform">
<form action="?" method="get">
    <div><select name="cat">
        <option value="-" selected="selected">CATEGORIES</option>
        <option value="-">------------</option>
    </select></div>
    <div><input name="q" type="text" value="DVD TITLE" class="text" /></div>
    <div class="softright"><input type="image" src="/assets/btn_search.gif" /></div>
</form>
</dd>