<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Online movei store template</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!-- <link href="style.css" rel="stylesheet" type="text/css" /> -->
  <%= stylesheet_link_tag "style" %>
</head>
<body>
  <div id="wrapper">
      <div id="inner">
          <div id="header">
              <h1><img src="/assets/logo.gif" width="519" height="63" alt="Online Movie Store" /></h1>
              <div id="nav">
                  <a href="http://www.freewebsitetemplates.com">your account</a> | <a href="http://www.freewebsitetemplates.com">view cart</a> | <a href="http://www.freewebsitetemplates.com">help</a>
              </div><!-- end nav -->
              <a href="http://www.freewebsitetemplates.com"><img src="/assets/header_1.jpg" width="744" height="145" alt="Harry Potter cd" /></a>
              <a href="http://www.freewebsitetemplates.com"><img src="/assets/header_2.jpg" width="744" height="48" alt="" /></a>
          </div><!-- end header -->
          <dl id="browse">
              <%= render partial: 'shared/sidebar' %>
          </dl>
          
          <div id="body">
              <div class="inner">
                <% @tickets.each_with_index do |ticket, index| %>
                  <%= render  ticket %>
                  <% if index > 0 && index % 2 == 1 %>
                    <div class="clear br"></div>
                  <% end %>                   
                <% end %>                  
              </div><!-- end .inner -->
          </div><!-- end body -->
          
          <div class="clear"></div>
          <div id="footer">
              Web design by <a href="http://www.freewebsitetemplates.com">Free Website Templates</a>
              
              &nbsp;
              <div id="footnav">
                  <a href="http://www.freewebsitetemplates.com">Legal</a> | <a href="http://www.freewebsitetemplates.com">Privacy Policy</a>
              </div><!-- end footnav -->
          </div><!-- end footer -->
      </div><!-- end inner -->
  </div><!-- end wrapper -->
</body>
</html>